@import url("https://fonts.googleapis.com/css?family=Lakki+Reddy");
@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Neucha");

* {
	padding: 1px;
	margin: 1px;
}

#header {
	cursor: pointer;
}

body {
	text-align: center;
	font-size: 30px;
	font-family: 'Lakki Reddy';
}

textarea, input, button {
	font-size: 20px;
	border: 1px solid black;
	border-radius: 3px;
	outline: none;
	background: transparent;
}

textarea {
	resize: none;
  width: 270px;
  height: 90px;
}

#masuk, #keluar {
	font-family: 'Kalam';
}

#tombol button {
	font-family: 'Neucha';
	width: 40px;
	height: 40px;
}

#tombol button:active {
	color: red;
	border-color: red;
}

/* Gelep */
[mode='dark']::placeholder {
	color: white;
}

body[mode='dark'] {
	background: black;
	color: white;
	text-shadow: 0 0 5px red;
}

textarea[mode='dark'], input[mode='dark'], #tombol[mode='dark'] button {
	color: white;
	border-color: red;
	text-shadow: inherit;
}

#tombol[mode='dark'] button:active {
	color: cyan;
	border-color: cyan;
}